<div class="alerts-container">
    <div *ngFor="let alert of alerts" class="alert {{alert.Class}} alert-dismissible">
        <button type="button" class="close" (click)="removeAlert(alert)">x</button>
        <h4 class="pull-left"><i class="icon fa {{alert.IconClass}}"></i> {{ alert.Title }}</h4>
        <div class="pull-left">
            {{ alert.Message }}
        </div>
    </div>
</div>