.alerts-container {
    position: fixed;
    left: 10px;
    right: 10px;
    top: 10px;
    z-index: 10000;
}

.alert.alert-dismissible {
    height: 45px;
    padding: 10px;
    margin-bottom: 5px;
}

    .alert.alert-dismissible > h4 {
        margin-right: 20px
    }

.alert > .close {
    right: 0px;
}
