span.logo-lg {
    position: relative;
    z-index: 100000000;
}

.logo {
    overflow: inherit;
}

    .logo b {
        color: #444444;
        font-weight: bold;
    }

    .logo > img {
        height: 90%;
        z-index: 10000;
        position: absolute;
        top: 4.5%;
        left: 20px;
    }

    .logo > span {
        left: 70px;
    }
