            <!-- Logo -->
<a routerLink="/home" class="logo">
    <!-- logo for regular state and mobile devices -->
    <img src="/img/EMLogoFEMFinal-2.png" />
    <span class="logo-lg"><b>Engineer</b>Materials</span>
</a>

<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav" *ngIf="true">
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!-- The user image in the navbar-->
                    <img [src]="user.safeProfilePicUrl()" class="user-image" alt="User Image">
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                    <span class="hidden-xs">{{getFullName()}}</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- The user image in the menu -->
                    <li class="user-header">
                        <img [src]="user.safeProfilePicUrl()" class="img-circle" alt="User Image">

                        <p>
                            {{getFullName()}} - {{user.occupation}}
                            <small>Member since {{user.registered}}</small>
                        </p>
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body">
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-4 text-center">
                                <a routerLink="/home">Projects: {{projectFunc.getProjectsCount()}}</a>
                            </div>
                        </div>
                        <!-- /.row -->
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a routerLink="/profile" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                            <a href="#" class="btn btn-default btn-flat" (click)="signOut()">Sign out</a>
                        </div>
                    </li>
                </ul>
            </li>            
        </ul>
        <!--<ul class="nav navbar-nav" *ngIf="true">
            <li class="dropdown user user-menu">
                <a href="register" class="dropdown-toggle">
                    Register <i class="fa fa-pencil"></i>
                </a>
            </li>
            <li class="dropdown user user-menu">
                <a class="">
                    <i class="fa ">|</i>
                </a>
            </li>
        </ul>-->
    </div>
</nav>