@{
    ViewData["Title"] = "Home Page";
}

<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>

@section scripts {
    <script src="~/scripts/js/jquery.min.js"></script>
    <script src="~/scripts/js/adminlte.min.js"></script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <script src="~/scripts/js/jquery.smilcroll.min.js"></script>
    <script src="~/scripts/js/controlInitializers.js" type="application/json" asp-append-version="true">
    </script>
    <script src="~/scripts/js/signalr-client-1.0.0-alpha2-final.min.js" type="text/javascript"></script>

    @*<script src="https://unpkg.com/vtk.js"></script>*@
}
