﻿            <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Main view
        <small>This is where your list of project shows up</small>
    </h1>
    <!--<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>-->
</section>

<!-- Main content -->
<section class="content container-fluid">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Projects</h3>

                    <button class="btn fa fa-plus" (click)="newProject()"></button>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Project name</th>
                                <th>Owner</th>
                                <th>Description</th>
                                <th>Creation date</th>
                                <th>Role</th>
                            </tr>
                            <tr *ngFor="let project of projects">
                                <td>
                                    <a title="{{project.id}}" routerLink="/project/{{project.id}}">
                                        {{project.id}}
                                    </a>
                                </td>
                                <td>
                                    <a title="{{project.name}}" routerLink="/project/{{project.id}}">
                                        {{project.name}}
                                    </a>
                                </td>
                                <td title="{{project.creatorName}}">{{project.creatorName}}</td>
                                <td title="{{project.description}}">{{project.description}}</td>
                                <td title="{{project.creation}}">{{project.creation}}</td>
                                <td title="{{project.role}}"><span class="label {{roleClassNames[project.role]}}">{{project.role}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

</section>
<!-- /.content -->