            <!-- Content Header (Page header) -->
<section class="content-header project-header">

    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">{{project.name}}</h3>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-project-name">
                <i class="fa fa-pencil"></i>
            </a>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" *ngIf="!showDetails" (click)="expandDetails()">
                    <i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" *ngIf="showDetails" (click)="squeezeDetails()">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" *ngIf="showDetails">
            <div class="row">
                <div class="col-xs-12">
                    <small>{{project.description}}</small>
                    <a href="javascript:void(0)">
                        <i class="fa fa-pencil" data-toggle="modal" data-target="#modal-project-project"></i>
                    </a>
                    <button class="btn btn-success pull-right top-button" (click)="updateProject()">Save</button>
                    <button class="btn btn-default pull-right top-button" data-toggle="modal" data-target="#modal-project-shared">Share</button>
                    <button class="btn btn-info pull-right top-button" data-toggle="modal" data-target="#modal-project-files">Files</button>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</section>

<!-- Main content -->
<section class="content container-fluid">

    <div class="row">
        <div class="col-xs-4 right-border">
            <!--           -->
            <!-- Left pane -->
            <!--           -->

            <ishi-chat (fileButtonClicked)="chatVtk.setFilename($event)"></ishi-chat>
        </div>

        <div class="col-xs-8">
            <div class="right-panel">
                <!--            -->
                <!-- Right pane -->
                <!--            -->

                <chat-vtk #chatVtk></chat-vtk>
            </div>
        </div>
    </div>
</section>

<custom-modal header="New name of project" modelId="modal-project-name">
    <div class="input-group margin">
        <input type="text" class="form-control" value='{{project.name}}' #newNameInput>
        <span class="input-group-btn">
            <button type="button" class="btn btn-info btn-flat" (click)="setNewProjectName(newNameInput.value)">Update</button>
        </span>
    </div>
</custom-modal>

<custom-modal header="New description of project" modelId="modal-project-project">
    <div class="row">
        <div class="col col-xs-12">
            <textarea type="text" class="form-control" value='{{project.description}}' #newDescInput></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-12">
            <span class="input-group-btn">
                <button type="button" class="btn btn-info btn-flat pull-right" (click)="setNewProjectDesc(newDescInput.value)">Update</button>
            </span>
        </div>
    </div>
</custom-modal>

<custom-modal header="Shared users" modelId="modal-project-shared">
    <div class="box box-info">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="fa fa-envelope"></i>

            <h3 class="box-title">Share your project</h3>
        </div>
        <div class="box-body">
            <div class="">
                <div class="form-group col col-xs-6">
                    <input type="email" class="form-control" name="emailto" placeholder="User email" [(ngModel)]="shareMail">
                </div>
                <div class="form-group col col-xs-6">
                    <select [(ngModel)]="profileId">
                        <option value="" disabled selected>User role</option>
                        <option *ngFor="let p of projectFunc.profiles" [ngValue]="p.id">{{p.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="pull-right btn btn-default" id="sendEmail" (click)="shareProject()">
                    Send
                    <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </div>
        <div class="box-footer clearfix">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    <tr *ngFor="let user of projectUsers">
                        <td title="{{user.name}}">{{user.name}}</td>
                        <td title="{{user.email}}">{{user.email}}</td>
                        <td title="{{user.role}}">{{user.role}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</custom-modal>

<custom-modal header="Project files" modelId="modal-project-files">
    <div class="box box-info">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="fa fa-envelope"></i>

            <h3 class="box-title">Files</h3>
        </div>

        <div class="box-body">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>Filename</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let file of projectFunc.files">
                        <td title="{{file.fileName}}">{{file.fileName}}</td>
                        <td title="{{file.dateCreated}}">{{file.dateCreated}}</td>
                        <td><a href="javascript:void(0)" (click)="download(file.fileName, file.fileContent)">Download</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="box-footer clearfix">
            <input class="pull-left" type="file" id="fileUpload" size="50" accept=".vtp">
            <button class="btn btn-info pull-right top-button" (click)="uploadFile()">Upload</button>
            <div id="fileError">

            </div>
        </div>
    </div>
</custom-modal>