.right-border {
    border-right: 2px solid grey;
}

.top-button {
    margin-top: 20px;
    margin-right: 10px;
}

.right-panel {
    background-color: white;
    height: 700px;
    top: -20px;
    position: relative;
}

.project-header {
    position: absolute;
    top: 43px;
    width: 100%;
    z-index: 3;
}

section.content.container-fluid {
    top: 115px;
    position: absolute;
    width: 100%;
}

textarea {
    max-width: 100%;
    min-width: 100%;
}

.modal-body > .row {
    margin-bottom: 10px;
}

select {
    width: 100%;
    height: 34px;
    border: solid 1px #c7c7c7;
}
