﻿<body class="skin-blue-light sidebar-mini layout-top-nav" style="height: auto; min-height: 100%;">
    <div class="wrapper" style="height: auto; min-height: 100%;">

        <!-- Loader -->
        <loader></loader>

        <!-- Alerts -->
        <custom-alert></custom-alert>

        <!-- Main Header -->
        <header class="main-header">
            <nav-menu></nav-menu>
        </header>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- Default to the left -->
            <strong>Copyright © 2017 <a href="#">Engineer Materials</a>.</strong> All rights reserved.
        </footer>

    </div>
    <!-- ./wrapper -->
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. -->

    <style type="text/css">
        /* loading */
        .lt-sk-three-bounce {
            margin: 2px auto;
            width: 100%;
            text-align: center;
        }

            .lt-sk-three-bounce .lt-sk-child {
                width: 5px;
                height: 5px;
                background-color: #333;
                border-radius: 100%;
                display: inline-block;
                -webkit-animation: lt-sk-three-bounce 1.4s ease-in-out 0s infinite both;
                animation: lt-sk-three-bounce 1.4s ease-in-out 0s infinite both;
            }

            .lt-sk-three-bounce .lt-sk-bounce1 {
                -webkit-animation-delay: -0.32s;
                animation-delay: -0.32s;
            }

            .lt-sk-three-bounce .lt-sk-bounce2 {
                -webkit-animation-delay: -0.16s;
                animation-delay: -0.16s;
            }

        @-webkit-keyframes lt-sk-three-bounce {
            0%, 80%, 100% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            40% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }

        @keyframes lt-sk-three-bounce {
            0%, 80%, 100% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            40% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    </style>
</body>