a {
    font-size: initial;
}

.top-container {
    padding-top: 50px;
}

.border-bottom {
    border-bottom: 1px solid lightgrey;
}

.fa-pencil {
    color: grey;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

    .fa-pencil:hover {
        cursor: pointer;
    }

textarea {
    width: 100%;
    height: 125px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid rgb(221, 221, 221);
    padding: 10px;
}

div.widget-user-header {
    overflow: hidden;
    padding: 0 !important;
}

.widget-user-page-image {
    width: 100%;
    min-height: 100%;
}

.widget-user-username {
    position: absolute;
    top: 10px;
    left: 10px;
}

.widget-user-desc {
    position: absolute;
    top: 40px;
    left: 10px;
}
