<!-- Fixed profile -->
<div class="row top-container" *ngIf="!editable">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header">
                <img class="widget-user-page-image" [src]="user.safePagePicUrl()" />
                <h3 class="widget-user-username">{{user.name}} {{user.surname}}</h3>
                <h5 class="widget-user-desc">{{user.occupation}}</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle" [src]="user.safeProfilePicUrl()" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="description-block border-bottom">
                            <h5 class="description-header">email</h5>
                            <span>{{user.email}}</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="description-block border-bottom">
                            <h5 class="description-header">Projects</h5>
                            <a routerLink="/home">
                                <span class="description-text">{{projectFunc.getProjectsCount()}}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-block btn-warning" (click)="toggleEdit()">Edit</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#modal-invitation">Invite</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Editable profile -->
<div class="row top-container" *ngIf="editable">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header">
                <img class="widget-user-page-image" [src]="user.safePagePicUrl()" />
                <h3 class="widget-user-username">{{updateUser.name}} {{updateUser.surname}}</h3>
                <h5 class="widget-user-desc">{{updateUser.occupation}}</h5>
                <!--<i class="fa fa-pencil pull-right" data-toggle="modal" data-target="#modal-image"></i>-->
            </div>
            <div class="widget-user-image">
                <img class="img-circle" [src]="user.safeProfilePicUrl()" alt="User Avatar">
                <!--<i class="fa fa-pencil pull-right" data-toggle="modal" data-target="#modal-image"></i>-->
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="description-block border-bottom">
                            <h5 class="description-header">email</h5>
                            <input class="form-control" type="text" placeholder="email" [ngModel]="updateUser.email" disabled>
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="description-block border-bottom">
                            <h5 class="description-header">name</h5>
                            <input class="form-control" type="text" placeholder="name" [(ngModel)]="updateUser.name">
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="description-block border-bottom">
                            <h5 class="description-header">surname</h5>
                            <input class="form-control" type="text" placeholder="surname" [(ngModel)]="updateUser.surname">
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="description-block border-bottom">
                            <h5 class="description-header">occupation</h5>
                            <input class="form-control" type="text" placeholder="occupation" [(ngModel)]="updateUser.occupation">
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-block" (click)="toggleEdit()">Cancel</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-block btn-success" (click)="updateUserInfo()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<custom-modal header="Test" modelId="modal-image">
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <img id="modal-image" src="" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input id="file-input" type="file" (change)="showImage()">
                </div>
            </div>
        </div>
    </div>
</custom-modal>

<custom-modal header="Application invitation" modelId="modal-invitation">
    <div class="box box-info">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="fa fa-envelope"></i>

            <h3 class="box-title">Send your invitation</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <input type="email" class="form-control" name="emailto" placeholder="Email to:" [(ngModel)]="invitationMail">
            </div>
            <div>
                <textarea class="textarea" placeholder="Message" [(ngModel)]="invitationMessage"></textarea>
            </div>
        </div>
        <div class="box-footer clearfix">
            <button type="button" class="pull-right btn btn-default" id="sendEmail" (click)="sendInvitation()">
                Send
                <i class="fa fa-arrow-circle-right"></i>
            </button>
        </div>
    </div>
</custom-modal>