            <!-- Chat box -->
<div class="box box-success">
    <div class="box-header" style="cursor: move;">
        <i class="fa fa-comments-o"></i>

        <h3 class="box-title">Chat</h3>

        <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
            <div class="btn-group" data-toggle="btn-toggle">
                <button type="button" class="btn btn-default btn-sm" (click)="openConnection()">
                    <i class="fa fa-square text-green"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm active">
                    <i class="fa fa-square text-red"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="slimScrollDiv" #chatBox>
        <div class="box-body chat">
            <!-- chat item -->
            <div *ngFor="let message of messageList">
                <div class="item" [ngClass]="(message.ofCurrentUser)?'item-of-user':'item-not-user'">
                    <img src="{{message.senderPicUrl}}" alt="user image" class="online">
                    <p class="message">
                        <a class="name">
                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {{formatDate(message.timestamp)}}</small>
                            {{message.sender}}
                        </a>
                        {{message.messageText}}
                    </p>


                    <div *ngIf="message.attachment" class="attachment">
                        <h4>Attachments:</h4>
                        <p class="filename">
                            {{message.attachment.name}}
                        </p>

                        <div class="pull-right" *ngIf="!message.attachment.isImage">
                            <button type="button" class="btn btn-primary btn-sm btn-flat" (click)="openVtpFile(message.attachment.url)">Open</button>
                            <a target="_self" href="{{message.attachment.url}}" download="{{message.attachment.name}}"  class="btn btn-primary btn-sm btn-flat" title="Download file">
                                <i class="glyphicon glyphicon-arrow-down"></i>
                            </a>
                        </div>

                        <div class="pull-right thumbnail" *ngIf="message.attachment.isImage">
                            <img src="{{message.attachment.url}}" />
                        </div>
                    </div>
                    <!-- /.attachment -->
                </div>

            </div>
            <!-- /.item -->
        </div>
        <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 66px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 184.911px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
    </div>
    <!-- /.chat -->
    <div class="box-footer">
        <div class="input-group">
            <input class="form-control" placeholder="Type message..." [(ngModel)]="chatMessage" (keyup.enter)="addMessage()" />

            <div class="input-group-btn">
                <button type="button" class="btn btn-success" (click)="addMessage()"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-6 col-xs-offset-6">
    <div class="form-group">
        <label>ChatMode</label>
        <select class="form-control">
            <option>Auto</option>
            <option>option 2</option>
            <option>option 3</option>
            <option>option 4</option>
            <option>option 5</option>
        </select>

        <button class="btn btn-default pull-right">Compute</button>
    </div>
</div>