.item-of-user {
    width: 70%;
    background: #eaeaea;
    padding: 5px;
    position: relative;
    right: -30%;
}

.item-not-user {
    width: 70%;
    background: #b2ffa5;
    padding: 5px;
}

.slimScrollDiv {
    height: 400px;
    position: relative;
    overflow-y: scroll;
    width: auto;
}

#chat-box {
    overflow-y: scroll;
    width: auto;
    height: 400px;
}

.thumbnail {
    max-width: 100%;
    max-height: 100%;
    cursor:pointer;
}
